{
    auto_https disable_redirects
}

192.168.1.119 {
    tls internal
    encode gzip zstd

    reverse_proxy /media/* 127.0.0.1:8000
    reverse_proxy /docs* 127.0.0.1:8000
    reverse_proxy /openapi.json 127.0.0.1:8000
    reverse_proxy /redoc* 127.0.0.1:8000
    reverse_proxy /slabs/*/image/download 127.0.0.1:8000

    reverse_proxy 127.0.0.1:3000
}