{
    auto_https disable_redirects
}

192.168.1.119 {
    tls internal
    encode gzip zstd

    reverse_proxy /api/* 127.0.0.1:8000
    reverse_proxy /media/* 127.0.0.1:8000

    reverse_proxy 127.0.0.1:3000
}
